:root {
    --text-color: black;
    --primary-color: red;
    --white-color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 62.5%;
}

* {
    text-decoration: none;
    color: inherit;
}


html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    /* Отступ между элементами списка */
}

h2 {
    transition: all 0.5s ease;
}

p {
    transition: all 0.5s ease;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


.NinjaLogo {
    display: flex;
    align-items: center;
    margin-top: 3px;
    justify-content: space-between;
}


.NinjaLogo>p {
    margin-left: -16px;
    margin-bottom: 29px;
    font-family: Raleway;
    font-size: 2.2rem;
    font-weight: 900;
    color: black;
}

.LogoHe {
    display: flex;
    font-family: Raleway;
    font-size: 2.2rem;
    font-weight: 900;
    color: black;
}

.linkSign {
    margin-right: 10px;
    margin-left: 16px;
}

.linkSign>a {
    font-family: Raleway;
    font-size: 1.1rem;
    font-weight: 800;
    background-color: #4BA87D;
    color: #FFF;
    padding: 7px;
}

.logoLink>img {
    margin-left: 5px;
    max-width: 150px;
}

.logoLink {
    display: flex;
}

.tablTxt {
    margin-left: 26px;
}

.underline {
    position: relative;
    /* Обязательно, так как мы будем использовать абсолютное позиционирование для псевдоэлемента */
    display: inline;
    /* Подчёркиваем только текст, а не всю линию блока */
    padding: 0 5px;
    /* Добавляем паддинги для увеличения длины линии */
}

/* Псевдоэлемент для создания подчеркивания */
.underline::after {
    content: '';
    /* Псевдоэлементы требуют свойства content */
    position: absolute;
    /* Абсолютное позиционирование относительно родителя */
    left: 0;
    /* Выравниваем слева */
    right: 0;
    /* Выравниваем справа */
    bottom: -3px;
    /* Отступ от текста составит 3px */
    border-bottom: 3px solid green;
    /* Зелёная линия внизу */
}

.mainHero {
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
}

.Hero {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    margin-left: 9px;
    transition: all 0.5s ease;
}

.Hero>h2 {
    font-family: Playfair Display;
    font-size: 2.2rem;
    transition: all 0.5s ease;
}

.Hero>p {
    font-family: Raleway;
    font-weight: 500;
    font-size: 1.4rem;
}

.heroimg>img {
    max-width: 301px;
    margin-right: 10px;
}

.heroButton {
    display: flex;
    font-family: Raleway;
    font-weight: 900;
    font-size: 1.3rem;
    align-items: center;
}

.heroButtonRight {
    margin-left: auto;
    color: #4BA87D;
    border-style: solid;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-width: 3px;
    margin-left: 14px;
}

.heroButtonLeft {
    color: #FFF;
    background-color: #4BA87D;
    padding: 13px;
    padding-left: 39px;
    padding-right: 39px;
}

.video {
    margin: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: all 0.5s ease;
}

.video>img {
    max-width: 304px;
}

.videoH1 {
    position: absolute;
    top: 64px;
    font-family: Playfair Display;
    font-weight: 900;
    font-size: 2.2rem;
    color: #FFF;
}

.videoH2 {
    position: absolute;
    top: 120px;
    color: #4BA87D;
    font-family: Raleway;
    font-size: 0.6rem;
    font-weight: 900;
    background-color: #FFF;
    padding: 6px;
    padding-left: 13px;
    padding-right: 13px;
}

.backtest {
    /* background-image: url(back.svg); */
    background-repeat: no-repeat;
    z-index: -1;
    background-position: center 250px;
    background-size: 100% auto; /* Увеличивается только ширина фона */
}


.customers {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.customers_one {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 15px;
    position: relative;
    right: 46.5px;
    width: 209px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
}

.customers_one>p {
    color: #000;
    font-family: Raleway;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    padding-top: 17px;
    padding-left: 20px;
    padding-right: 25px;
    padding-bottom: 15px;
}

.customers_one>a {
    color: #4BA87D;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    padding-left: 20px;
    padding-right: 25px;
    padding-bottom: 13px;
}

.customers_one>img {
    max-width: 100%;
    object-fit: fill;
}


.customers_two {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    width: 209px;
    left: 46.5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);

}

.customers_two>p {
    color: #000;
    font-family: Raleway;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;

    padding-top: 17px;
    padding-left: 20px;
    padding-right: 25px;
    padding-bottom: 15px;
}

.customers_two>a {
    color: #4BA87D;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    padding-left: 20px;
    padding-right: 25px;
    padding-bottom: 13px;
}

.customers_two>img {
    max-width: 100%;
    object-fit: fill;
}

.customers_p {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin: 38.6px;
    padding-left: 14.5px;
    padding-right: 12.9px;
}

.customers_p_one {
    color: #000;
    font-family: Playfair Display;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 900;
}

.customers_p_two {
    color: #000;
    font-family: Raleway;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
}

.examples {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.image-wrapper {
    position: relative;
    max-width: 223px;
}

.shadow-image {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
}

.image-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, #000 -32.5%, rgba(84, 84, 84, 0.00) 67.78%);
}

.image-wrapper>img {
    display: block;
    width: 100%;
    height: auto;
}

.examples_one {
    position: relative;
    margin-bottom: 21px;
}

.examples_two {
    position: relative;
    margin-bottom: 21px;
}

.examples_there {
    position: relative;
    margin-bottom: 59px;
}


.examples_name {
    position: absolute;
    color: #FFF;
    font-family: Raleway;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 900;
    top: 90px;
    left: 17px;
    margin-top: 1px;
}

.examples_since {
    position: absolute;
    color: #FFF;
    font-family: Raleway;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    top: 120px;
    left: 17px;
}

.form {
    width: 223px;
    height: 25px;
    border-radius: 3px;
    margin-bottom: 6px;
}

.mainForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainForm p {
    text-align: center;
    width: 100%;
    /* Это гарантирует, что текст будет центрирован вне зависимости от ширины этих элементов */
    margin-top: 6px;
    margin-bottom: 6px;
}

.mainForm input,
.mainForm button {
    text-align: center;
    /* Центрирует текст внутри input и button */
    margin: 10px 0;
    /* Добавляет отступ сверху и снизу элементов */
}


.mainForm label {
    width: 100%;
    text-align: center;
    color: #000;
    font-family: Playfair Display;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 900;
}

.mainForm p {
    color: #4BA87D;
    font-family: Raleway;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
}

.mainForm button {
    background-color: #4BA87D;
    color: #FFF;
    padding: 13px;
    padding-left: 21px;
    padding-right: 21px;
    border-style: none;
    font-weight: 900;
    font-size: 1.3rem;
    font-family: Raleway;
}

.thanks-message {
    display: none;
}

input:valid+button+.thanks-message {
    display: block;
}

.mainBrand h2 {
    color: #000;
    text-align: center;
    font-family: Playfair Display;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 900;
    
}


.brend_logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.brend_logo_pad {
    padding: 10px;
}

.getstart {
    background-color: #4BA87D;
    height: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.getstart h2 {
    color: #FFF;
    text-align: center;
    font-family: Playfair Display;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 900;
}

.getstart a {
    color: #4BA87D;
    text-align: center;
    font-family: Raleway;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 900;
    background-color: #FFF;
    padding: 13px;
    padding-left: 23px;
    padding-right: 23px;
}

.logo_foot {
    display: flex;
    align-items: center;


}

.logo_foot p {
    color: #000;
    font-family: Raleway;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 900;
    margin-left: -10px;
    margin-top: 12px;
}

.logoLink_foot img {
    max-width: 60px;
}

.footer {
    width: 320px;
    margin-left: 8px;
    color: #000;
    font-family: Raleway;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
}

.footer ul {
    display: flex;
    flex-wrap: wrap;
}

.footer li {
    flex: 1 1 50%;
    margin-bottom: 10px;
}

.foot_end {
    color: #000;
    font-family: Raleway;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 700;
    margin-left: 8px;
}

.foot_end ul {
    margin-top: 30px;
    margin-bottom: 30px;
}


.form-modern {
    font-family: 'Raleway', sans-serif;
    background-color: #f8f8f8;
    max-width: 30rem;
    /* Использование rem для размеров */
    margin: 2.5rem auto;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
    font-size: 1rem;
    font-weight: 700;
    /* Bold для лейблов */
}

.form-input,
.form-button {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid #ddd;
    font-size: 0.875rem;
}

.form-input {
    background-color: #fff;
}

/* Стиль кнопки отправки формы */
.form-button {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Эффект наведения на кнопку */
.form-button:hover {
    background-color: #0056b3;
}

/* Стилизация блока выбора пола с увеличенными размерами */
.gender-selection {
    font-size: 1rem;
    /* Увеличенный размер шрифта для пола */
}

.gender-options {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* Пространство между элементами */
}

.form-radio+.form-option-label {
    display: inline-block;
    cursor: pointer;
}

.form-radio {
    margin-right: 0.25rem;
}

/* Эффект фокуса на вводе данных */
.form-input:focus {
    border-color: #66afe9;
    outline: none;
}

.form-button:focus {
    outline: none;
}


.form-modern {
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
    /* Используем белый цвет для фона */
    max-width: 40rem;
    /* Увеличенный максимальный размер */
    margin: 4rem auto;
    /* Увеличенный отступ сверху и снизу */
    padding: 3rem;
    /* Увеличенные отступы внутри */
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 2rem;
    /* Увеличенный нижний отступ */
}

.form-label {
    display: block;
    margin-bottom: 0.75rem;
    /* Увеличенный нижний отступ для меток */
    color: #4BA87D;
    /* Цвет заголовков */
    font-size: 1.25rem;
    /* Увеличенный размер шрифта */
    font-weight: 700;
}

.form-input,
.form-button {
    width: 100%;
    padding: 1rem;
    /* Увеличенный паддинг */
    border-radius: 0.5rem;
    /* Увеличенный радиус границы */
    border: 1px solid #ccc;
    font-size: 1rem;
    /* Увеличенный размер шрифта */
}

.form-input {
    background-color: #fff;
}

/* Стиль кнопки отправки формы */
.form-button {
    background-color: #4BA87D;
    /* Основной зеленый цвет */
    color: white;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Эффект наведения на кнопку */
.form-button:hover {
    background-color: #3b8d6a;
    /* Темно-зеленый цвет при наведении */
}

/* Стилизация блока выбора пола */
.gender-selection {
    font-size: 1.25rem;
}

.gender-options {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    /* Пространство между элементами */
}

.form-radio+.form-option-label {
    display: inline-block;
    cursor: pointer;
    font-size: 1rem;
    /* Увеличенный размер шрифта для лейблов */
}

.form-radio {
    margin-right: 0.3rem;
    cursor: pointer;
}

/* Эффект фокуса на вводе данных */
.form-input:focus {
    border-color: #4BA87D;
    outline: none;
}

.form-button:focus {
    outline: none;
}

.mobileHide {
    display: none;
}




@media (min-width: 768px) {
    /* body {
        background-color: lightblue;
    } */

    .mobileHide {
        display: inline;
    }

    .tableHide {
        display: none;
    }

    .tabletHead {
        display: inline;
        font-weight: 800;
        font-size: 1.1rem;
        margin-left: auto;
    }

    .mainHero {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .Hero {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 25px;
        max-width: 315px;
    }

    .Hero h2 {
        color: #000;
        font-family: Playfair Display;
        font-size: 3.8rem;
        font-style: normal;
        font-weight: 900;
        line-height: 46px;
    }

    .Hero p {
        color: #000;
        font-family: Raleway;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
    }

    .heroimg {
        order: 1;
    }

    .heroimg>img {
        max-width: 445px;
        max-height: 250px;
        margin-right: 10px;
    }

    .video {
        margin-top: 145px;
    }
    
    .video>img {
        max-width: 616px;
    }

    .videoH1 {
        position: absolute;
        top: 130px;
        color: #FFF;
        font-family: Playfair Display;
        font-size: 3.8rem;
        font-style: normal;
        font-weight: 900;
        line-height: 51px; /* 134.211% */
    }
    
    .videoH2 {
        position: absolute;
        top: 230px;
        color: #4BA87D;
        text-align: center;
        font-family: Raleway;
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 900;
        line-height: 15px; /* 115.385% */
        letter-spacing: 0.65px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 17px;
        padding-right: 17px;
    }

    .customers {
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 32px;
        
    }

    .customers_one {
        position: static;
        margin: 0;
        margin-left: 25px;
        margin-right: 35px;
    }

    .customers_two {
        position: static;
        margin: 0;
        transform: translateY(54px);
    }
    
    .customersSec {
        display: flex;
        margin-bottom: 141px;
    }

    .customers_p {
        margin: 0px;
    }

    .examples {
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 30px;
    }

    .examples_one {
        position: relative;
        margin: 0px;
    }
    
    .examples_two {
        position: relative;
        margin: 0px;
    }
    
    .examples_there {
        position: relative;
        margin: 0px;
    }

    .form {
        width: 275px;
        height: 42px;
        border-radius: 3px;
        margin-bottom: 6px;
    }

    .labelForm {
        max-width: 75%;
        font-size: 2.8rem;
    }

    .divForm {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .divForm button{
        margin-left: 17px;
    }

    .formBut {
        display: flex;
    }

    .mainForm {
        flex-direction: column;
    }

    .mainBrand {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 95px;
    }

    .mainBrand h2 {
        max-width: 30%;
        font-size: 2.8rem;
    }

    .mainFoot {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 51px;
    }

    .footOne {
        display: flex;
        align-items: start;
    }

    .foot_end {
        display: flex;
        align-items: center;
        justify-content: space-around
    }

    .footer li {
        flex: 1 1 25%;
    }

    .logo_foot {
        margin-right: 130px;
    }
    
    .foot_end {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    .foot_end_one {
        display: flex;
        margin-right: 93px;
    }

    .foot_end_one p {
        margin-left: 5px;
    }

    .foot_end_two {
        display: flex;
    }

    .foot_end_two a {
        margin-left: 30px;
    }

}

@media (min-width: 1440px) {
    body {
        background-color: lightblue;
    }
}